@use "sass:color";
@use "sass:string";

//
// Functions / mixins
//
@function unicode($str) {
  @return string.unquote("\"")+string.unquote(string.insert($str, "\\", 1))+string.unquote("\"")
}

:root {
	// Base variables which others can derive from, or be customised at a more
	// granular level
	--dt-selected_background: 13, 110, 253;
	--dt-selected_color: 255, 255, 255;
	--dt-selected_link_color: 228, 228, 228;

	--dt-row_background: transparent;
	--dt-row-selected_background: var(--dt-selected_background);
	--dt-row-selected-text_color: var(--dt-selected_color);
	--dt-row-selected-link_color: var(--dt-selected_link_color);

	--dt-row-stripe_background: 0, 0, 0;
	--dt-row-hover_background: 0, 0, 0;
	--dt-column-ordering_background: 0, 0, 0;

	--dt-header-cell_align-items: center;
	--dt-header-cell_vertical-align: middle;

	// For blocking elements in extensions (FixedHeader, etc)
	--dt-html-background: white;

	&.dark {
		--dt-html-background: rgb(33, 37, 41);
	}
}

//
// Mixins
//
@mixin control() {
	display: inline-block;
	box-sizing: border-box;
	content: '';
}

@mixin control-open() {
	border-top: 5px solid transparent;
	border-left: 10px solid rgba(0, 0, 0, 0.5);
	border-bottom: 5px solid transparent;
	border-right: 0px solid transparent;
}

@mixin control-close() {
	border-top: 10px solid rgba(0, 0, 0, 0.5);
	border-left: 5px solid transparent;
	border-bottom: 0px solid transparent;
	border-right: 5px solid transparent;
}

// Standard row striping with a box shadow
@mixin row-stripes($stripeSel, $hoverSel, $stripeShade: 0.023, $hoverShade: 0.075, $oddEven: '.odd') {
    // Standard rows without striping
	> tbody > tr {
		background-color: var(--dt-row_background);

		&.selected > * {
			box-shadow: inset 0 0 0 9999px rgb(var(--dt-row-selected));
			color: rgb(var(--dt-row-selected-text));
		}

		&.selected a {
			color: rgb(var(--dt-row-selected-link));
		}
	}

    // With striping
	&#{$stripeSel} > tbody {
		> tr#{$oddEven} > * {
			box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe_background), $stripeShade);
		}

		> tr#{$oddEven}.selected > * {
			box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), $stripeShade + 0.9);
		}
	}

	// Hovering
	&#{$hoverSel} > tbody {
		> tr:hover > * {
			box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover_background), $hoverShade);
		}

		> tr.selected:hover > * {
			box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), $hoverShade + 0.9);
		}
	}
}

table.dataTable {
    // Child row controls
    tbody {
		td.dt-control {
			text-align: center;
			cursor: pointer;

			&:before {
				@include control;
				@include control-open;
			}
		}

		tr.dt-hasChild {
			td.dt-control:before {
				@include control-close;
			}
		}
	}

	tfoot:empty {
		display: none;
	}
}

html.dark,
:root[data-bs-theme="dark"],
:root[data-theme="dark"] {
	table.dataTable {
		td.dt-control {
			&:before {
				border-left-color: rgba(255, 255, 255, 0.5);
			}
		}

		tr.dt-hasChild {
			td.dt-control:before {
				border-top-color: rgba(255, 255, 255, 0.5);
				border-left-color: transparent;
			}
		}
	}
}

div.dt-scroll {
	width: 100%;
}

div.dt-scroll-body {
	thead,
	tfoot {
		tr {
			height: 0;

			th, td {
				height: 0 !important;
				padding-top: 0px !important;
				padding-bottom: 0px !important;
				border-top-width: 0px !important;
				border-bottom-width: 0px !important;

				div.dt-scroll-sizing {
					height: 0 !important;
					overflow: hidden !important;
				}
			}
		}
	}
}

// 
@mixin layout-cells() {
	div.dt-container {
		div.dt-layout-start {
			> *:not(:last-child) {
				margin-right: 1em;
			}
		}

		div.dt-layout-end {
			> *:not(:first-child) {
				margin-left: 1em;
			}
		}

		div.dt-layout-full {
			width: 100%;

			> *:only-child {
				margin-left: auto;
				margin-right: auto;
			}
		}

		div.dt-layout-table > div {
			display: block !important;
		}
	}

	@media screen and (max-width: 767px) {
		div.dt-container {
			div.dt-layout-start {
				> *:not(:last-child) {
					margin-right: 0;
				}
			}

			div.dt-layout-end {
				> *:not(:first-child) {
					margin-left: 0;
				}
			}
		}
	}
}

@mixin layout() {
	div.dt-container {
		div.dt-layout-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin: 0.75em 0;

			div.dt-layout-cell {
				display: flex;
				justify-content: space-between;
				align-items: center;

				&.dt-layout-start {
					justify-content: flex-start;
					margin-right: auto;
				}

				&.dt-layout-end {
					justify-content: flex-end;
					margin-left: auto;
				}

				&:empty {
					display: none;
				}
			}
		}
	}

	// Collapse the two column display of the control elements when the screen is
	// small
	@media screen and (max-width: 767px) {
		div.dt-container {
			div.dt-layout-row:not(.dt-layout-table) {
				display: block;

				div.dt-layout-cell {
					display: block;
					text-align: center;

					> * {
						margin: 0.5em 0;
					}

					&.dt-layout-start {
						margin-right: 0;
					}

					&.dt-layout-end {
						margin-left: 0;
					}
				}
			}
		}
	}
}
