
table.dataTable {
	clear: both;
	margin: 0 !important;
	max-width: none !important;
	width: 100%;

	td,
	th {
		&.dataTables_empty {
			text-align: center;
		}
	}

	// Style options for the table. Foundation provides its own, but it is also
	// useful to have a few more for DataTables
	&.nowrap {
		th, td {
			white-space: nowrap;
		}
	}
}


// DataTables' built in feature elements
div.dataTables_wrapper {
	position: relative;

	div.grid-x {
		margin-bottom: 0.75rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	div.dataTables_length {
		label {
			text-align: left;
			margin-bottom: 0;
		}

		select {
			width: 75px;
			margin-bottom: 0;
		}
	}

	div.dataTables_filter {
		label {
			margin-bottom: 0;
		}
	
		input {
			display: inline-block !important;
			width: auto !important;
			margin-bottom: 0;
			margin-left: 0.5em;
		}
	}

	div.dataTables_paginate {
		ul.pagination {
			margin: 0;
		}
	}

	div.dataTables_processing {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 200px;
		margin-left: -100px;
		margin-top: -26px;
		text-align: center;
		padding: 1rem 0;
	}
}


@import 'typography.scss';
@import 'ordering.scss';

// Scrolling
div.dataTables_scrollHead table {
	margin-bottom: 0 !important;
}

div.dataTables_scrollBody {
	table {
		border-top: none;
		margin-top: 0 !important;
		margin-bottom: 0 !important;

		tbody tr:first-child th,
		tbody tr:first-child td {
			border-top: none;
		}
	}
}

div.dataTables_scrollFoot table {
	margin-top: 0 !important;
	border-top: none;
}


