



// DataTables' built in feature elements
div.dataTables_wrapper {
	div.dataTables_length {

	}

	div.dataTables_filter {
		input {
			margin-left: 0.5em;
		}
	}

	div.dataTables_info {
		padding-top: 10px;
		white-space: nowrap;
	}

	div.dataTables_processing {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 200px;
		margin-left: -100px;
		text-align: center;
	}

	div.dataTables_paginate {
		button.mdl-button {
			min-width: 0;
		}
	}

	div.mdl-grid.dt-table {
		padding-top: 0;
		padding-bottom: 0;

		> div.mdl-cell {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}


@import 'ordering.scss';
