/*
 * Styling for DataTables with Semantic UI
 */

table.dataTable.table {
	margin: 0;

	// Easier calculations
	td,
	th {
		&.dataTables_empty {
			text-align: center;
		}
	}

	// Style options for the table. Semantic UI provides its own, but it is also
	// useful to have a few more for DataTables
	&.nowrap {
		th,
		td {
			white-space: nowrap;
		}
	}
}

@import 'typography.scss';
@import 'ordering.scss';


// DataTables' built in feature elements
div.dataTables_wrapper.ui.grid {
	> div.row {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;

		&:first-child {
			padding-top: 1rem;
		}
		&:last-child {
			padding-bottom: 1rem;
		}
	}

	div.dataTables_length {
		// Match the height of the drop down when Semantic UI JS isn't present
		select {
			vertical-align: middle;
			min-height: 2.7142em;
		}

		.ui.selection.dropdown {
			min-width: 0;
		}
	}

	div.dataTables_filter {
		span.input {
			margin-left: 0.5em;
		}
	}

	div.dataTables_info {
		white-space: nowrap;
		padding-top: 10px;
	}

	div.dataTables_processing {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 200px;
		margin-left: -100px;
		text-align: center;
	}

	// Merge the three scrolling tables into one
	div.dataTables_scrollHead {
		table.dataTable {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom: none;
		}
	}

	div.dataTables_scrollBody {
		thead { // Hide sort icons
			.dt-orderable-asc:before,
			.dt-orderable-desc:after {
				display: none;
			}
		}

		table.dataTable {
			border-radius: 0;
			border-top: none;
			border-bottom-width: 0;
		}

		table.dataTable.no-footer {
			border-bottom-width: 1px;
		}
	}

	div.dataTables_scrollFoot {
		table.dataTable {
			border-top-right-radius: 0;
			border-top-left-radius: 0;
			border-top: none;
		}
	}
}

@media screen and (max-width: 767px) {
	div.dataTables_wrapper {
		div.left,
		div.right {
			text-align: center !important;
		}
	}
}
