



// DataTables' built in feature elements
div.dataTables_wrapper {
	div.dataTables_length {

	}

	div.dataTables_filter {
		input {
			margin-left: 0.5em;
		}
	}

	div.dataTables_info {
		padding-top: 10px;
		white-space: nowrap;
	}

	div.dataTables_processing {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 200px;
		margin-left: -100px;
		text-align: center;
	}

	div.dataTables_paginate {
		button.mdl-button {
			min-width: 0;
		}
	}

	div.mdl-grid.dt-table {
		padding-top: 0;
		padding-bottom: 0;

		> div.mdl-cell {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}


// Sorting - using :before (asc) and :after (desc) with UTF8 characters
table.dataTable thead {
	> tr > th,
	> tr > td {
		&.dt-orderable-asc,
		&.dt-orderable-desc {
			padding-right: 30px;
		}

		&:active {
			outline: none;
		}

		&.dt-orderable-asc,
		&.dt-orderable-desc {
			cursor: pointer;
			position: relative;

			&:before,
			&:after {
				position: absolute;
				bottom: 0.9em;
				display: block;
				opacity: 0.3;
			}

			&:before {
				right: 1em;
				content: "\2191"; // up arrow - ascending
			}

			&:after {
				right: 0.6em;
				content: "\2193"; // down arrow - descending
			}
		}

		&.dt-ordering-asc:before {
			opacity: 1;
		}

		&.dt-ordering-desc:after {
			opacity: 1;
		}
	}
}