
@use "sass:color";
@use 'common.scss';
@use 'ordering.scss';
@use 'processing.scss';
@use 'typography.scss';

:root {
	--dt-header_border: 1px solid rgba(0, 0, 0, 0.3);
	--dt-header_padding: 10px;

	--dt-footer_border: var(--dt-header_border);
	--dt-footer_padding: 10px 10px 6px 10px;

	--dt-body_border: 1px solid rgba(0, 0, 0, 0.15);
	--dt-body_padding: 8px 10px;

	--dt-column-ordering_alpha: 0.019;
	--dt-column-ordering_alpha-selected: 0.919;

	--dt-row_alpha-hover: 0.035;
	--dt-row_alpha-selected-stripe: 0.923;
	--dt-row_alpha-stripe: 0.023;

	// Interaction control elements (info, filter, paging etc)
	--dt-control_color: inherit;

	// Paging buttons
	--dt-paging-button_box-shadow: none;
	--dt-paging-button_box-shadow-active: inset 0 0 3px #111;
	--dt-paging-button_padding: 0.5em 1em;
	--dt-paging-button_margin-left: 2px;
	--dt-paging-button_border-radius: 3px;

	--dt-paging-button_background: transparent;
	--dt-paging-button_border: 1px solid transparent;
	--dt-paging-button_color: var(--dt-control_color);

	--dt-paging-button_background-disabled: transparent;
	--dt-paging-button_border-disabled: 1px solid transparent;
	--dt-paging-button_color-disabled: rgba(0, 0, 0, 0.5);

	--dt-paging-button_background-current: rgba(0, 0, 0, 0.05);
	--dt-paging-button_border-current: 1px solid rgba(0, 0, 0, 0.3);
	--dt-paging-button_color-current: var(--dt-control_color);

	--dt-paging-button_background-current-hover: rgba(0, 0, 0, 0.1);
	--dt-paging-button_border-current-hover: 1px solid rgba(0, 0, 0, 0.5);
	--dt-paging-button_color-current-hover: var(--dt-control_color);

	--dt-paging-button_background-hover: rgba(0, 0, 0, 0.1);
	--dt-paging-button_border-hover: 1px solid transparent;
	--dt-paging-button_color-hover: var(--dt-control_color);

	--dt-input_border: 1px solid #aaa;
	--dt-input_border-radius: 3px;
	--dt-input_padding: 7px 5px;
	--dt-input_background: transparent;
	--dt-input_color: inherit;
	
	&.dark {
		--dt-row_background-stripe: 255, 255, 255;
		--dt-row_background-hover: 255, 255, 255;

		--dt-column-ordering_background: 255, 255, 255;

		--dt-header_border: 1px solid rgb(89, 91, 94);
		--dt-body_border: 1px solid rgb(64, 67, 70);

		--dt-paging-button_color: var(--dt-control_color);
	
		--dt-paging-button_background-current: rgba(255, 255, 255, 0.05);
		--dt-paging-button_border-current: 1px solid rgba(255, 255, 255, 0.1);

		--dt-paging-button_background-current-hover: rgba(0, 0, 0, 0.1);
		--dt-paging-button_border-current-hover: 1px solid rgba(255, 255, 255, 0.3);
	
		--dt-paging-button_color-disabled: rgba(255, 255, 255, 0.25);
	
		--dt-paging-button_background-hover: rgba(0, 0, 0, 0.2);
		--dt-paging-button_border-hover: 1px solid transparent;

		--dt-input_border: 1px solid rgb(255, 255, 255, 0.2);
		--dt-input_background: rgba(255, 255, 255, 0.05);
	}
}

// jQuery UI stylesheet imports this one - there are just two places where we
// don't want DataTables default styles assigned for jQuery UI, so rather than
// duplicating the whole file, this is the best option
$jqueryui: false !default;

// Consistent styling for inputs
@mixin table-input {
	border: var(--dt-input_border);
	border-radius: var(--dt-input_border-radius);
	padding: var(--dt-input_padding);
	background-color: var(--dt-input_background);
	color: var(--dt-input_color);
}

/*
 * Table styles
 */
table.dataTable {
	width: 100%;
	margin: 0 auto;
	border-spacing: 0;

	/*
	 * Header and footer styles
	 */
	@if not $jqueryui {
		thead,
		tfoot {
			th {
				font-weight: bold;
			}
		}
	}

	> thead > tr > th,
	> thead > tr > td {
		padding: var(--dt-header_padding);

		@if not $jqueryui { // jQuery UI defines its own border
			border-bottom: var(--dt-header_border);
		}

		&:active {
			outline: none;
		}
	}

	> tfoot > tr > th,
	> tfoot > tr > td {
		@if not $jqueryui { // jQuery UI defines its own border
			border-top: var(--dt-footer_border);
		}

		padding: var(--dt-footer_padding);
	}

	/*
	 * Body styles
	 */
	> tbody {
		> tr {
			background-color: var(--dt-row_background);

			&:first-child > * {
				border-top: none;
			}

			&:last-child > * {
				border-bottom: none;
			}

			&.selected > * {
				box-shadow: inset 0 0 0 9999px rgba(var(--dt-row_background-selected), 0.9);
				color: rgb(var(--dt-row-text_color-selected));
			}
	
			&.selected a {
				color: rgb(var(--dt-row-link_color-selected));
			}

			> th,
			> td {
				padding: var(--dt-body_padding);
			}
		}
	}


	// Stripe classes - add "row-border" class to the table to activate
	&.row-border > tbody,
	&.display > tbody {
		> tr > * {
			border-top: var(--dt-body_border);
		}

		> tr:first-child > * {
			border-top: none;
		}

		> tr.selected + tr.selected > td {
			border-top-color: rgba(var(--dt-row_background-selected), 0.65);
		}
	}


	// Stripe classes - add "cell-border" class to the table to activate
	&.cell-border > tbody {
		> tr > * {
			border-top: var(--dt-body_border);
			border-right: var(--dt-body_border);
		}

		> tr > *:first-child {
			border-left: var(--dt-body_border);
		}

		> tr:first-child > * {
			border-top: var(--dt-header_border);
		}
	}


	// Stripe classes - add "stripe" class to the table to activate
	&.stripe > tbody,
	&.display > tbody {
		> tr:nth-child(odd) > * {
			box-shadow: inset 0 0 0 9999px rgba(var(--dt-row_background-stripe), var(--dt-row_alpha-stripe));
		}

		> tr:nth-child(odd).selected > * {
			box-shadow: inset 0 0 0 9999px rgba(var(--dt-row_background-selected), var(--dt-row_alpha-selected-stripe));
		}
	}



	// Hover classes - add "hover" class to the table to activate
	&.hover > tbody,
	&.display > tbody {
		> tr:hover > * {
			box-shadow: inset 0 0 0 9999px rgba(var(--dt-row_background-hover), var(--dt-row_alpha-hover));
		}

		> tr.selected:hover > * {
			box-shadow: inset 0 0 0 9999px rgba(var(--dt-row_background-selected), 1) !important;
		}
	}


	// Sort column highlighting - add "order-column" class to the table to activate
	&.order-column,
	&.display {
		> tbody {
			tr > .sorting_1,
			tr > .sorting_2,
			tr > .sorting_3 {
				box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering_background), var(--dt-column-ordering_alpha));
			}

			tr.selected > .sorting_1,
			tr.selected > .sorting_2,
			tr.selected > .sorting_3 {
				box-shadow: inset 0 0 0 9999px rgba(var(--dt-row_background-selected), var(--dt-column-ordering_alpha-selected));
			}
		}
	}

	&.display > tbody,
	&.order-column.stripe > tbody {
		> tr:nth-child(odd) {
			> .sorting_1 {
				box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering_background), calc(var(--dt-row_alpha-stripe) + var(--dt-column-ordering_alpha)));
			}
			> .sorting_2 {
				box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering_background), calc(var(--dt-row_alpha-stripe) + var(--dt-column-ordering_alpha) - 0.007) );
			}
			> .sorting_3 {
				box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering_background), calc(var(--dt-row_alpha-stripe) + var(--dt-column-ordering_alpha) - 0.015));
			}

			&.selected {
				> .sorting_1 {
					box-shadow: inset 0 0 0 9999px rgba(var(--dt-row_background-selected), calc(var(--dt-row_alpha-selected-stripe) + var(--dt-column-ordering_alpha)));
				}
				> .sorting_2 {
					box-shadow: inset 0 0 0 9999px rgba(var(--dt-row_background-selected), calc(var(--dt-row_alpha-selected-stripe) + var(--dt-column-ordering_alpha) - 0.007));
				}
				> .sorting_3 {
					box-shadow: inset 0 0 0 9999px rgba(var(--dt-row_background-selected), calc(var(--dt-row_alpha-selected-stripe) + var(--dt-column-ordering_alpha) - 0.015));
				}
			}
		}
	}

	&.display tbody,
	&.order-column.hover tbody {
		tr:hover {
			> .sorting_1 {
				box-shadow: inset 0 0 0 9999px rgba(var(--dt-row_background-hover), calc(var(--dt-row_alpha-stripe) + var(--dt-column-ordering_alpha) + var(--dt-row_alpha-hover)));
			}
			> .sorting_2 {
				box-shadow: inset 0 0 0 9999px rgba(var(--dt-row_background-hover), calc(var(--dt-row_alpha-stripe) + var(--dt-column-ordering_alpha) + var(--dt-row_alpha-hover) - 0.007));
			}
			> .sorting_3 {
				box-shadow: inset 0 0 0 9999px rgba(var(--dt-row_background-hover), calc(var(--dt-row_alpha-stripe) + var(--dt-column-ordering_alpha) + var(--dt-row_alpha-hover) - 0.015));
			}

			&.selected {
				> .sorting_1 {
					box-shadow: inset 0 0 0 9999px rgba(var(--dt-row_background-selected), calc(var(--dt-row_alpha-selected-stripe) + var(--dt-column-ordering_alpha)));
				}
				> .sorting_2 {
					box-shadow: inset 0 0 0 9999px rgba(var(--dt-row_background-selected), calc(var(--dt-row_alpha-selected-stripe) + var(--dt-column-ordering_alpha) + var(--dt-row_alpha-hover) - 0.007));
				}
				> .sorting_3 {
					box-shadow: inset 0 0 0 9999px rgba(var(--dt-row_background-selected), calc(var(--dt-row_alpha-selected-stripe) + var(--dt-column-ordering_alpha) + var(--dt-row_alpha-hover) - 0.015));
				}
			}
		}
	}

	&.compact {
		thead,
		tfoot,
		tbody {
			th,
			td {
				padding: 4px;
			}
		}
	}
}


@include common.layout;
@include common.layout-cells;

/*
 * Control feature layout
 */
div.dt-container {
	position: relative;
	clear: both;

	.dt-search {
		input {
			@include table-input;
			margin-left: 3px;
		}
	}

	.dt-input {
		@include table-input;
	}

	// Paging
	.dt-paging {
		.dt-paging-button {
			box-sizing: border-box;
			display: inline-block;
			min-width: 1.5em;
			padding: var(--dt-paging-button_padding);
			margin-left: var(--dt-paging-button_margin-left);
			text-align: center;
			text-decoration: none !important;
			cursor: pointer;

			color: var(--dt-paging-button_color);
			border: var(--dt-paging-button_border);
			border-radius: var(--dt-paging-button_border-radius);
			background: var(--dt-paging-button_background);
			box-shadow: var(--dt-paging-button_box-shadow);

			&.current {
				color: var(--dt-paging-button_color-current) !important;
				border: var(--dt-paging-button_border-current);
				background: var(--dt-paging-button_background-current);
			}

			&.current:hover {
				color: var(--dt-paging-button_color-current-hover) !important;
				border: var(--dt-paging-button_border-current-hover);
				background: var(--dt-paging-button_background-current-hover);
			}

			&.disabled,
			&.disabled:hover,
			&.disabled:active {
				cursor: default;
				color: var(--dt-paging-button_color-disabled) !important;
				border: var(--dt-paging-button_border-disabled);
				background: var(--dt-paging-button_background-disabled);
				box-shadow: none;
			}

			&:hover {
				color: var(--dt-paging-button_color-hover) !important;
				border: var(--dt-paging-button_border-hover);
				background: var(--dt-paging-button_background-hover);
			}

			&:active {
				outline: none;
				background: var(--dt-paging-button_background-hover);
				box-shadow: var(--dt-paging-button_box-shadow-active);
			}
		}

		.ellipsis {
			padding: 0 1em;
		}
	}

	.dt-length,
	.dt-search,
	.dt-info,
	.dt-processing,
	.dt-paging {
		color: var(--dt-control_color);
	}

	// Tables with an empty footer need special consideration for styling at the end of the table
	&.dt-empty-footer {
		// Show the boundary on the last row
		tbody > tr:last-child > * {
			border-bottom: var(--dt-header_border);
		}

		// Except when scrolling, when the border needs to go on the container
		// Table's with a footer have border-top on the footer cells
		.dt-scroll-body {
			border-bottom: var(--dt-header_border);

			tbody > tr:last-child > * {
				border-bottom: none;
			}
		}
	}
}


html.dark {
	table.dataTable {
		&.row-border > tbody,
		&.display > tbody {
			> tr.selected + tr.selected > td {
				border-top-color: rgba(var(--dt-row_background-selected), 0.65);
			}
		}
	}
}

/*
 * Overrides for RTL support
 */
*[dir="rtl"] {
	table.dataTable {
		thead,
		tfoot {
			th,
			td {
				text-align: right;
			}
		}

		th,
		td {
			&.dt-type-numeric,
			&.dt-type-date {
				text-align: left;
			}
		}
	}

	div.dt-container {
		div.dt-layout-cell {
			&.dt-start {
				text-align: right;
			}

			&.dt-end {
				text-align: left;
			}
		}

		div.dt-search input {
			margin: 0 3px 0 0;
		}
	}
}
