@use "common";

:root {
	--dt-order-arrow_color: inherit;
	--dt-order-arrow_color-current: inherit;
	--dt-order-arrow_content-asc: #{common.unicode("25B2")};
	--dt-order-arrow_content-desc: #{common.unicode("25BC")};
	--dt-order-arrow_font-size: 0.8em;
	--dt-order-arrow_line-height: 9px;
	--dt-order-arrow_opacity: 0.125;
	--dt-order-arrow_opacity-current: 0.6;

	--dt-order-header_outline-hover: 2px solid rgba(0, 0, 0, 0.05);

	:root.dark,
	:root[data-bs-theme="dark"],
	:root[data-theme="dark"] {
		--dt-order-header_outline-hover: 2px solid rgba(255, 255, 255, 0.05);
	}
}


// Sorting - using :before (asc) and :after (desc) with UTF8 characters
// Note that each class (e.g. dt-orderable-asc) can be applied without
// any of the others also being applied.
table.dataTable thead {
	> tr > th,
	> tr > td {
		&:active {
			outline: none;
		}

		&.dt-orderable-asc,
		&.dt-ordering-asc {
			.dt-column-order:before {
				position: absolute;
				display: block;
				bottom: 50%;
				content: var(--dt-order-arrow_content-asc); // up arrow - ascending
				content: var(--dt-order-arrow_content-asc) / "";
			}
		}

		&.dt-orderable-desc,
		&.dt-ordering-desc {
			.dt-column-order:after {
				position: absolute;
				display: block;
				top: 50%;
				content: var(--dt-order-arrow_content-desc); // down arrow - descending
				content: var(--dt-order-arrow_content-desc) / "";
			}
		}

		// Common to all combinations
		&.dt-orderable-asc,
		&.dt-orderable-desc,
		&.dt-ordering-asc,
		&.dt-ordering-desc {
			.dt-column-order {
				position: relative;
				width: 12px;

				&:before,
				&:after {
					left: 0;
					color: var(--dt-order-arrow_color);
					opacity: var(--dt-order-arrow_opacity);
					line-height: var(--dt-order-arrow_line-height);
					font-size: var(--dt-order-arrow_font-size);
				}
			}
		}

		&.dt-orderable-asc,
		&.dt-orderable-desc {
			cursor: pointer;

			&:hover {
				outline: var(--dt-order-header_outline-hover);
				outline-offset: -2px;
			}
		}

		&.dt-ordering-asc .dt-column-order:before,
		&.dt-ordering-desc .dt-column-order:after {
			color: var(--dt-order-arrow_color-current);
			opacity: var(--dt-order-arrow_opacity-current);
		}

		&.dt-orderable-none:not(.dt-ordering-asc,.dt-ordering-desc) .dt-column-order:empty,
		&.sorting_desc_disabled .dt-column-order:after,
		&.sorting_asc_disabled .dt-column-order:before {
			display: none;
		}

		&:active {
			outline: none;
		}
	}
}

table.dataTable thead, 
table.dataTable tfoot {
	> tr > th,
	> tr > td {
		div.dt-column-header,
		div.dt-column-footer {
			display: flex;
			justify-content: space-between;
			align-items: var(--dt-header-cell_align-items);
			gap: 4px;

			.dt-column-title {
				flex-grow: 1;

				&:empty {
					display: none;
				}
			}
		}
	}
}

div.dt-scroll-body > table.dataTable > thead {
	> tr > th,
	> tr > td {
		overflow: hidden;
	}
}

:root.dark,
:root[data-bs-theme="dark"] {
	table.dataTable thead {
		> tr > th,
		> tr > td {
			&.dt-orderable-asc,
			&.dt-orderable-desc {
				&:hover {
					outline: var(--dt-order-header_outline-hover);
				}
			}
		}
	}
}