  
ul.dt-tabs {
	position: relative;
	display: block;
	top: 1px;
	height: 40px;
	margin: 20px 20px 0 0 !important;
	padding-left: 0.5rem;
	font-size: 1em;
  
	li {
		display: block;
		float: left;
		padding: 0 15px;
		height: 40px;
		font-size: 1.2em;
		margin: 0 5px;
		cursor: pointer;
		line-height: 40px;
		color: #121e32;
		border: 1px solid transparent;
		border-bottom: none;
		margin-top: -1px;
  
		&.active {
			border: 1px solid #ccc;
			border-bottom: 1px solid white;
			margin-top: 0;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			background-color: white;
		}

		&::before {
			display: none !important;
		}
	}
}
  
div.dt-tabs {
	clear: both;
	margin-top: -1px;
	display: block;
	border-radius: 5px;
}

div {
	&.dt-tabs > div {
		padding: 1.5em;
		border: 1px solid #ccc;
		display: none;
		border-radius: 5px;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	
		h1 {
			border-bottom: none;
			margin-top: 1em;
		}
  
		> {
			p {
				margin-bottom: 1rem;

				&:first-child {
					margin-top: 0;
				}
			}
	
			ul {
				display: block;
				list-style: none;
				padding-left: 0;
				border-width: 0px;
				margin: 1em 2em;
		
				> li {
					display: list-item;
					padding: 0.2em 1em;
		
					> a {
						border-bottom-width: 0px;
						display: block;
						padding: 0px;
					}
				}
			}
		}
	}
}

html.dark {
	ul.dt-tabs li {
		color: inherit;
	
		&.active {
			border: 1px solid rgb(73, 80, 87);
			border-bottom: 1px solid rgb(28, 30, 31);
			background-color: rgb(28, 30, 31);
		}
	}
  
	div {
		&.dt-tabs > div {
			background-color: rgb(28, 30, 31);
			border: 1px solid rgb(73, 80, 87);
			box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
		}
	}
}