@use "sass:meta";

body {
	font: 90%/1.5em system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}

main,
section {
	position: relative;
}

div.demo-html > table {
	width: 100%;
}

body.dt-example {
	div.container {
		max-width: 980px;
		margin: 0 auto;
	}

	h1 {
		font-weight: normal;
		font-size: 3em;
		line-height: 1em;
		margin: 1em 0;
	  
		span {
			display: block;
			padding-top: 0.5em;
			font-size: 0.5em;
			line-height: 1em;
		}
	}

	h2 {
		font-size: 2em;
		margin: 1em 0;
	}

	h3 {
		font-size: 1.3em;
		margin: 1em 0;
	}
}

a {
	cursor: pointer;
	color: #3174c7;
	text-decoration: none;
}
  
p > a:hover {
	text-decoration: underline;
}
  
div {
	&.toc {
		ul {
			color: #4E6CA3;
			list-style-type: none;
			padding-left: 0;
		}
  
		li {
			padding: 0.2em 1em;
			border-left: 4px solid transparent;
			border-bottom: 1px solid #e6e6e6;

			&.active {
				border-left: 4px solid #458ae0;
			}

			&:first-child {
				border-top: 1px solid #efefef;
			}
		}
	}
  
	&.epilogue {
		text-align: center;
		margin-top: 2em;
	}
}
  
p.copyright {
	font-size: 0.8em;
	padding-bottom: 2em;
	margin-bottom: 0;
	margin-top: 1em;
}
  
.clear {
	clear: both;
	height: 0;
}
  
div {
	&.info {
		margin-bottom: 2em;
		column-count: 2;
		column-rule: 1px solid #F3F3F3;
  
		> * {
			-webkit-column-break-inside: avoid;
			break-inside: avoid;
		}
  
		li {
			margin-top: 0.75em;
		}
  
		p:first-child {
			margin-top: 0;
		}
	}
  
	&.footer {
		position: relative;
		margin-top: 3em;
		border-top: 1px solid #999;
		background-color: #eee;
		padding: 0;
  
		> div {
			&.liner {
				max-width: 960px;
				margin: 0 auto;
			}

			&.gradient {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 6px;
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);

				/* W3C */
			}
		}
	}
  
	&.toc {
		column-count: 2;
	}

	&.toc-group {
		display: inline-block;
		width: 100%;
	}
  
	&.box {
		overflow: auto;
		height: 8em;
		padding: 1em;
		color: #444;
		background-color: #fcfcfc;
		border: 1px solid #e0e0e0;
		margin-bottom: 2em;
	}
  
	&.box-highlight {
		overflow: auto;
		padding: 1em;
		color: #444;
		background-color: #fcfcfc;
		border: 1px solid #e0e0e0;
		margin-bottom: 2em;
		border-radius: 4px;
		text-align: center;
	}
}

div.column_half {
	float: left;
	width: 49%;
	padding-right: 1%;
}


@media only screen and (max-width: 979px) {
	div {
		&.container, &.footer {
			padding: 0 1em;
		}
	}

	body.dt-example h1 {
		margin: 0.5em auto;
	}

	div.dt-demo-options {
		position: relative;
		margin: 1em auto 0;
		width: fit-content;
	}
}
  
@media screen and (max-width: 767px), screen and (max-width: 768px) and (orientation: portrait) {
	div {
		&.info, &.toc {
			-webkit-column-count: 1;
			-moz-column-count: 1;
			-ms-column-count: 1;
			-o-column-count: 1;
			column-count: 1;
		}
	}
}

html.dark {
	body {
		background-color: rgb(33, 37, 41);
		color: rgb(229, 233, 238);

		&.dt-example-bootstrap5 {
			background-color: var(--bs-body-bg);
			color: var(--bs-body-color);
		}

		&.dt-example-bulma {
			background-color: var(--bulma-body-background-color);
			color: var(--bulma-body-color);
		}
	}

	div.info a,
	div.dt-tabs a,
	div.footer a {
		color: rgb(110, 168, 254);
	}
  
	div {
		&.toc li {
			border-bottom: 1px solid rgb(73, 80, 87);
	
			&:first-child {
				border-top: 1px solid rgb(73, 80, 87);
			}
	
			&.active {
				border-left: 4px solid rgb(110, 168, 254);
			}
		}
	
		&.info {
			column-rule-color: rgb(73, 80, 87);
		}
	
		&.footer {
			border-top-color: rgb(26, 27, 27);
			background-color: rgb(31, 34, 36);
		}

		&.box {
			color: rgb(228, 228, 228);
			background-color: rgb(52, 54, 55);
			border: 1px solid rgb(87, 87, 87);
		}

		&.box-highlight {
			color: rgb(228, 228, 228);
			background-color: rgb(52, 54, 55);
			border: 1px solid rgb(87, 87, 87);
		}
	}

	input,
	select {
		color-scheme: dark;
	}
}

// Although most of the switching is done by the class name to allow easy
// switching it use this to stop the flicker of white between page loads
@media (prefers-color-scheme: dark) {
	body {
		background-color: rgb(33, 37, 41);
		color: rgb(229, 233, 238);
	}

	html.light {
		body {
			background-color: #fff;
			color: #333;
		}
	}
}

@include meta.load-css('styles/code.scss');
@include meta.load-css('styles/selector.scss');
@include meta.load-css('styles/tabs.scss');
@include meta.load-css('styles/framework-overrides.scss');
